fixed() {
  position: fixed

  for direction in arguments {
    {direction}: 0
  }
}

flex-layout(direction) {
  display: flex
  flex-direction: direction
}

width-upto(size) {
  width: size
  max-width: 100%
}
