html,
body {
  height: 100%
}

html {
  font-family: $font-family-base
  font-weight: $font-weight-base
  font-size: $font-size-base
}

body {
  background-color: $fill-base
  color: $font-color-base
}

a {
  stateful-color: $color-primary
  text-decoration: none
}

label {
  color: lighten($font-color-base, 10%)
}

button {
  padding: $gap-small $gap-large
  border-radius: $border-radius-base
  stateful-background: $fill-lighten
  color: $font-color-base
  cursor: pointer
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="tel"] {
  padding: $gap-small
  border-radius: $border-radius-base
  font-weight: $font-weight-medium
  background: $fill-darken
  color: $font-color-base
}

.hidden {
  display: none !important
}
