html,
body {
  height: 100%
}

html {
  font-family: $font-family-base
  font-weight: $font-weight-base
  font-size: $font-size-base
}

body {
  background-color: $fill-base
  color: $font-color-base
}

a {
  stateful-color: $color-primary
  text-decoration: none
}

label {
  color: $color-base-silver
  // color: lighten($font-color-base, 10%)
}

.hidden {
  display: none !important
}
