.elx- {
  &list-box {
    padding: $list-box-padding
    border-radius: $list-box-border-radius
    background-color: $list-box-fill

    &__link {
      display: block
      padding: $list-box-item-padding
      border-radius: $list-box-item-border-radius
      transition: $all-transition
      stateful-color: $list-box-item-color
      stateful-background: $list-box-fill

      &.is-selected {
        background: lighten($list-box-fill, 15%)
      }
    }

    &__empty {
      padding: $list-box-empty-padding
    }
  }
}
