

.el- {

  &radio {
    color: $radio-color
    position: relative
    cursor: pointer
    display: inline-block
    white-space: nowrap
    user-select: none

    & + .el-radio {
      margin-left: 15px
    }

    &__input {
      white-space: nowrap
      cursor: pointer
      outline: none
      display: inline-block
      line-height: 1
      position: relative
      vertical-align: middle

      &.is-disabled {
        .el-radio__inner {
          background-color: $radio-disabled-input-fill
          border-color: $radio-disabled-input-border-color
          cursor: not-allowed

          &::after {
            cursor: not-allowed
            background-color: $radio-disabled-icon-color
          }

          & + .el-radio__label {
            cursor: not-allowed
          }
        }
        &.is-checked {
          .el-radio__inner {
            background-color: $radio-disabled-checked-input-fill
            border-color: $radio-disabled-checked-input-border-color

            &::after {
              background-color: $radio-disabled-checked-icon-color
            }
          }
        }
        & + .el-radio__label {
          color: $disabled-color-base
          cursor: not-allowed
        }
      }

      &.is-checked {
        .el-radio__inner {
          border-color: $radio-checked-input-border-color
          background: $radio-checked-icon-color

          &::after {
            transform: translate(-50%, -50%) scale(1)
          }
        }
      }

      &.is-focus {
        .el-radio__inner {
          border-color: $radio-input-border-color-hover
        }
      }
    }
    &__inner {
      border: $radio-input-border
      border-radius: $radio-input-border-radius
      circle: $radio-input-width $radio-input-fill
      position: relative
      cursor: pointer
      display: inline-block
      box-sizing: border-box

      &:hover {
        border-color: $radio-input-border-color-hover
      }

      &::after {
        circle: 6px $color-white
        content: ""
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%) scale(0)
        transition: transform .15s cubic-bezier(.71,-.46,.88,.6)
      }
    }

    &__original {
      opacity: 0
      outline: none
      position: absolute
      z-index: -1
      top: 0
      left: 0
      right: 0
      bottom: 0
      margin: 0
    }

    &__label {
      font-size: $radio-font-size
      padding-left: 5px
    }
  }

  &radio-group {
    display: inline-block
    font-size: 0
    line-height: 1

    & .el-radio {
      font-size: $radio-font-size
    }

  }
  &radio-button {
    position: relative
    overflow: hidden
    display: inline-block

    &__inner {
      display: inline-block
      line-height: 1
      white-space: nowrap
      vertical-align: middle
      cursor: pointer
      background: $button-default-fill
      border: $border-base
      color: $button-default-color
      -webkit-appearance: none
      text-align: center
      box-sizing: border-box
      outline: none
      margin: 0
      position: relative
      cursor: pointer
      transition: $all-transition
      user-select: none

      button-size: $button-padding-vertical, $button-padding-horizontal, $button-font-size, 0

      &:hover {
        color: $color-primary
      }

      & [class*="el-icon-"] {
        line-height: 0.9

        & + span {
          margin-left: 5px
        }
      }
    }

    &__orig-radio {
      opacity: 0
      outline: none
      position: absolute
      z-index: -1
      left: -999px

      &:checked {
        & + .el-radio-button__inner {
          color: $radio-button-checked-color
          background-color: $radio-button-checked-fill
          border-color: $radio-button-checked-border-color
        }
      }

      &:disabled {
        & + .el-radio-button__inner {
          color: $button-disabled-color
          cursor: not-allowed
          background-image: none
          background-color: $button-disabled-fill
          border-color: $button-disabled-border
        }
      }
    }

    &:not(:last-child) {
      margin-right: -1px
    }
    &:first-child {
      .el-radio-button__inner {
        border-radius: $border-radius-base 0 0 $border-radius-base
      }
    }
    &:last-child {
      .el-radio-button__inner {
        border-radius: 0 $border-radius-base $border-radius-base 0
      }
    }
    &--large {
      & .el-radio-button__inner {
        button-size: $button-large-padding-vertical, $button-large-padding-horizontal, $button-large-font-size, 0
      }
    }
    &--small {
      & .el-radio-button__inner {
        button-size: $button-small-padding-vertical, $button-small-padding-horizontal, $button-small-font-size, 0
      }
    }
    &--mini {
      & .el-radio-button__inner {
        button-size: $button-mini-padding-vertical, $button-mini-padding-horizontal, $button-mini-font-size, 0
      }
    }
  }
}
