@import '~src/styles/definitions'

.input-group {
  flex-layout: column
  spacing-vertical: $gap-sm
}

.input-group .input {
  border: 1px solid $color-muted
  border-radius: $radius-sm
}

.input-row {
  flex-layout: row
  child-radius-horizontal: $radius-sm
}

.input-row input {
  flex: 1
}

.input-row button {
  stateful-background: $background-darken
  stateful-color: $color-muted
}
