.file-icon-general-settings:before {
  @extend .icon-settings:before
  color: $teal
}

.file-icon-sprite:before {
  @extend .icon-picture:before
  color: $color-primary
}

.file-icon-font:before {
  @extend .icon-generic-text:before
  color: $color-primary
}

.file-icon-tileset:before {
  @extend .icon-insert-table:before
  color: $color-primary
}

.file-icon-video:before {
  @extend .icon-video-call:before
  color: $color-primary
}
