.file-icon-general-settings:before {
  @extend .icon-settings:before
  color: $teal
}

.file-icon-sprite:before {
  @extend .icon-picture:before
  color: $orange
}

.file-icon-font:before {
  @extend .icon-generic-text:before
  color: $orange
}

.file-icon-tilemap:before {
  @extend .icon-insert-table:before
  color: $orange
}

.file-icon-video:before {
  @extend .icon-video-call:before
  color: $orange
}
