@import 'base'

.top-level-icon-settings:before {
  @extend .icon-timeline:before
}

.top-level-icon-assets:before {
  @extend .icon-image-file:before
}

.top-level-icon-behaviours:before {
  @extend .icon-fantasy:before
}

.top-level-icon-scenes:before {
  @extend .icon-film:before
}

.action-icon-more:before {
  @extend .icon-more:before
}

.action-icon-import:before {
  @extend .icon-import:before
}

.action-icon-add:before {
  @extend .icon-plus:before
}

.action-icon-add-folder:before {
  @extend .icon-folder:before
}
