.el- {
  &alert {
    flex-layout: row
    align-items: flex-end
    padding: $alert-padding
    border-radius: $alert-border-radius
    color: $color-white
    opacity: 1
    transition: $fade-fast-transition

    for $variant, $color in $alert-variants {
      &--{$variant} {
        background-color: $color
      }
    }

    &__content {
      flex: 1
      position: relative
      padding: $alert-content-padding
    }

    &__icon {
      font-size: $alert-icon-size
      color: $color-white

      &.is-big {
        font-size: $alert-icon-large-size
      }
    }

    &__title {
      font-size: $alert-title-font-size

      &.is-bold {
        font-weight: $font-weight-strong
      }
    }

    & .el-alert__description {
      color: $color-white
      font-size: $alert-description-font-size
      margin-top: $alert-title-description-spacing
    }

    &__closebtn {
      absolute: top right
      font-size: $alert-close-font-size
      color: $color-white
      opacity: 0.7
      cursor: pointer
      transition: $fade-fast-transition

      &:hover {
        opacity: 1
      }

      &:after {
        content: "×"
      }

      &.is-customed {
        font-style: normal
        font-size: $alert-close-customed-font-size
        top: 9px
      }
    }
  }

  .el-alert-fade-enter,
  .el-alert-fade-leave-active {
    opacity: 0
  }
}
