.el- {
  &input-number {
    position: relative
    overflow: hidden

    &__increase, &__decrease {
      absolute: top $border-width-base
      display: inline-block
      width: $input-icon-width
      height: auto
      padding: $input-padding
      text-align: center
      color: $color-light-silver
      cursor: pointer
      z-index: 1

      &:hover {
        color: $input-hover-border-color
      }

      &.is-disabled {
        color: $disabled-border-base
        cursor: not-allowed
      }
    }

    &__increase {
      right: ($input-padding / 2)
    }

    &__decrease {
      right: $input-icon-width + ($input-padding / 2)
    }

    &.is-disabled {
      & .el-input-number__increase, .el-input-number__decrease {
        border-color: $disabled-border-base
        color: $disabled-border-base

        &:hover {
          color: $disabled-border-base
          cursor: not-allowed
        }
      }
    }
    &--large {
      & .el-input-number__increase, .el-input-number__decrease {
        line-height: $input-large-height
        width: $input-large-height
        font-size: $input-large-font-size
      }
      & .el-input-number__decrease {
        right: ($input-large-height + 1px)
      }
      & .el-input__inner {
        padding-right: ($input-large-height * 2 + 10)
      }
    }
    &--small {
      & .el-input-number__increase, .el-input-number__decrease {
        line-height: $input-small-height
        width: $input-small-height
        font-size: $input-small-font-size
      }
      & .el-input-number__decrease {
        right: ($input-small-height + 1px)
      }
      & .el-input__inner {
        padding-right: ($input-small-height * 2 + 10)
      }
    }
    &.is-without-controls {
      & .el-input__inner {
        padding-right: 10px
      }
    }
  }
}
