html,
body {
  height: 100%
}

html {
  font: $font-default
}

body {
  background-color: $background-default
  color: $color-default
}

a {
  stateful-color: $color-primary
  text-decoration: none
}

label {
  color: $color-muted
}

button {
  padding: $gap-sm $gap-lg
  border-radius: $radius-sm
  stateful-background: $background-lighten
  color: $color-default
  cursor: pointer
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="tel"] {
  padding: $gap-sm
  border-radius: $radius-sm
  font-weight: $font-weight-medium
  background: $background-darken
  color: $color-default
}

.hidden {
  display: none !important
}
