$blue = #2196F3
$yellow = #FFCA28
$red = #F44336
$orange = #FF7043
$green = #43A047
$purple = #5C6BC0
$teal = #26C6DA

$brand-primary = $orange

$background-default = #333
$background-inverse = #eee
$background-primary = $brand-primary
$background-darken = #222
$background-lighten = #444

$color-default = #eee
$color-muted = #aaa
$color-inverse = #222
$color-primary = $brand-primary

$font-default = 300 14px "Helvetica Neue", "Segoe UI", Helvetica, sans-serif
$font-weight-medium = 500
$font-weight-strong = 700

$width-sm = 30rem

$gap-xs = 0.25rem
$gap-sm = 0.5rem
$gap-md = 0.75rem
$gap-lg = 1rem

$radius-sm = 0.2rem

$font-size-md = 1.1rem
$font-size-lg = 1.5rem
$font-size-xl = 2rem

$transition-default = 0.2s ease-in-out

$sidebar-width = 4rem

$bench-width-default = 20rem
$folder-contents-gap = 1.25rem

$tab-width = 10rem
