// Variables

$lowlight-base = black
$highlight-base = white

$background-default = #333
$background-inverse = #eee
$text-default = #eee
$text-inverse = #222

$brand-primary = #f50

// Mixins

stateful-variants(property, hover-value, active-value) {
  transition: all 0.2s;

  &:hover {
    {property}: hover-value
  }

  &:active {
    {property}: active-value
  }
}

background-default() {
  background-color: $background-default
}

background-inverse() {
  background-color: $background-inverse
}

background-lowlight(amount = 0.25, stateful = false) {
  background-color: alpha($lowlight-base, amount)

  if stateful {
    stateful-variants(background-color, alpha($lowlight-base, amount + 0.1), alpha($lowlight-base, amount - 0.1))
  }
}

background-highlight(amount = 0.15, stateful = false) {
  background-color: alpha($highlight-base, amount)

  if stateful {
    stateful-variants(background-color, alpha($highlight-base, amount + 0.1), alpha($highlight-base, amount - 0.1))
  }
}

background-primary(stateful = false) {
  background-color: $brand-primary

  if stateful {
    stateful-variants(background-color, lighten($brand-primary, 10%), darken($brand-primary, 10%))
  }
}

text-default() {
  color: $text-default
}

text-inverse() {
  color: $text-inverse
}

text-muted(stateful = false) {
  color: alpha($text-default, 0.6)

  if stateful {
    stateful-variants(color, $text-default, alpha($text-default, 0.5))
  }
}

text-primary(stateful = false) {
  color: $brand-primary

  if stateful {
    stateful-variants(color, lighten($brand-primary, 10%), darken($brand-primary, 10%))
  }
}

border-muted() {
  border: 1px solid alpha($text-default, 0.5);
}
