// Variables

$font-stack = "Helvetica Neue", "Segoe UI", Helvetica, sans-serif
$font-weight = 300
$font-weight-medium = 500
$font-weight-strong = 600
$font-sizes = {
  xl: 2rem,
  lg: 1.5rem,
  md: 1.1rem
}

// Mixins

font-default() {
  font-family: $font-stack
  font-weight: $font-weight
  text-decoration: none
}

font-weight-medium() {
  font-weight: $font-weight-medium
}

font-weight-strong() {
  font-weight: $font-weight-strong
}

font-size(size) {
  if size in $font-sizes {
    font-size: $font-sizes[size]
  } else {
    font-size: size
  }
}
