border-left-radius(size) {
  border-top-left-radius: size
  border-bottom-left-radius: size
}

border-right-radius(size) {
  border-top-right-radius: size
  border-bottom-right-radius: size
}

child-radius-horizontal(size) {
  > * {
    border-radius: 0
  }

  > *:first-child {
    border-left-radius: size
  }

  > *:last-child {
    border-right-radius: size
  }
}

user-select(value) {
  -webkit-user-select: value
  user-select: value
}
