spacing-vertical(size) {
  > * {
    margin-bottom: size
  }

  > *:last-child {
    margin-bottom: 0
  }
}

spacing-horizontal(size) {
  > * {
    margin-right: size
  }

  > *:last-child {
    margin-right: 0
  }
}
