// Variables

$padding-variants = {
  xs: 0.25rem,
  sm: 0.5rem,
  md: 0.75rem,
  lg: 1rem
}

// Mixins

padding-both(variant) {
  padding: $padding-variants[variant]
}

padding-horizontal(variant) {
  padding-left: $padding-variants[variant]
  padding-right: $padding-variants[variant]
}

padding-vertical(variant) {
  padding-top: $padding-variants[variant]
  padding-bottom: $padding-variants[variant]
}

spacing-vertical(variant) {
  > * {
    margin-bottom: $padding-variants[variant]
  }

  > *:last-child {
    margin-bottom: 0
  }
}

spacing-horizontal(variant) {
  > * {
    margin-right: $padding-variants[variant]
  }

  > *:last-child {
    margin-right: 0
  }
}
