@import '~app/styles/definitions'

.input-group {
  flex-layout: column
  spacing-vertical: $gap-small
  margin-bottom: $gap-large
}

.input-group label:empty {
  display: none
}

.input-group .input {
  border: $input-border
  border-radius: $border-radius-base
  background: $fill-darken
  child-radius-horizontal: $border-radius-base
  spacing-horizontal: 0

  button {
    stateful-background: $fill-darken
    stateful-color: $color-muted
  }

  label {
    width: 4rem
    text-align: center
    color: $color-muted
  }
}

.input-group div.input {
  display: flex
  align-items: center
}

.input-row {
  flex-layout: row
  align-items: center
  spacing-horizontal: $gap-small
}

.input-row input,
.input-row .input {
  flex: 1
  min-width: 0
}

.input-row button {
  background: transparent
  stateful-color: $color-muted
}

.input-row span {
  display: inline-block
}
