el-icon-wrapper($name, $icon-name = $name) {
  .el-icon-{$name} {
    @extend .icon

    &:before {
      @extend .icon-{$icon-name}:before
    }
  }
}

el-icon-wrapper(opened-folder)
el-icon-wrapper(circle-cross, cancel-2)
