i[class*="el-icon"] {
  @extend .icon
}

.el-icon-opened-folder:before {
  @extend .icon-opened-folder:before
}

.el-icon-circle-cross:before {
  @extend .icon-cancel-2:before
}

.el-icon-close:before {
  content: "×"
  font-size: 16px
}
