.el-input__inner {
  background-color: $input-fill
  font-weight: $font-weight-medium
}

.el-input__icon {
  width: 35px !important
  height: 100% !important
}

.el-input-group__prepend {
  background: $input-fill
  border: $input-border
  border-right: none

  + .el-input__inner:not(:focus) {
    border-left-color: transparent
  }
}
